<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848278434000-qgtah5hssiehpbjcqs47vlb5nse9jpgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848278434000-qgtah5hssiehpbjcqs47vlb5nse9jpgm</string>
	<key>API_KEY</key>
	<string>AIzaSyDfmZeiEcL-j4azUzM4zA9PUlP_sz55T5k</string>
	<key>GCM_SENDER_ID</key>
	<string>848278434000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.Cards</string>
	<key>PROJECT_ID</key>
	<string>cards-995c6</string>
	<key>STORAGE_BUCKET</key>
	<string>cards-995c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848278434000:ios:c7958f0e2aa26fa0c4aed5</string>
</dict>
</plist>